<ul class="list-unstyled">
    <% dishes.each do |dish| %>
    
    <li class="media mb-3">
       <img class="mr-2 rounded-circle p-3" style="width: 100px;height: 100px;">
        <div class="media-body">
            <div>
                <%= link_to dish.user.name, user_path(dish.user) %>
                <span class="text-muted">投稿日時<%= dish.created_at %></span>
            </div>
            <div>
                <p class="mb-0">
                <%= image_tag dish.picture.url if dish.picture? %>
                <%= simple_format(dish.content) %></p>
            </div>
            <div>
                <% if current_user == dish.user %>
                <%= link_to "削除", dish, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                <% end %>
            </div>
        </div>
    </li>
    <% end %>
    <%= paginate dishes %>
    
</ul>